body {
    background-image: url("img/stemwijzer.png");
}

button {
    all: unset;
    color: black;
    background-color: gray;
    width: 100px;
    height: 40px;
    cursor: pointer;
    text-align: center;
}


.container {
    padding: 10px;
    margin: auto;
    width: 90%;
    height: 550px;
    border-radius: 20px;
    background-color: white;
}

.text-container {
    background-color: #e8e8e8;
}

#terug:hover {
    cursor: pointer;
    width: 20px;
}